<h2>Books search for "test"</h2>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
<tbody>
<% datas.each do |data| %>
  <tr>
    <td><%= attachment_image_tag(data.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
    <td><%= data.title %></td>
    <td><%= data.body %></td>
  </tr>
<% end %>
</tbody>